<h2>Danh sรกch sแบฃn phแบฉm</h2>
<a href="/add">โ Thรชm</a>
<table border="1">
    <tr>
        <th>แบขnh</th><th>Tรชn</th><th>Giรก</th><th>Sแป lฦฐแปฃng</th><th>Hรnh ฤแปng</th>
    </tr>
    <% products.forEach(p => { %>
        <tr>
            <td><img src="<%= p.url_image %>" width="80"/></td>
            <td><%= p.name %></td>
            <td><%= p.price %></td>
            <td><%= p.quantity %></td>
            <td>
                <a href="/edit/<%= p.id %>">โ๏ธ</a>
                <a href="/delete/<%= p.id %>">๐๏ธ</a>
            </td>
        </tr>
    <% }) %>
</table>
